<!-- ======= About Section ======= -->
<section id="about" class="about section-bg">
    <div class="container">

        <div class="section-title">
            <h2 data-aos="fade-in">About Us</h2>
            <p data-aos="fade-in">At Lorenzana Web Design, our primary objective is to give your business a strong
                online presence.
                We will use our game changing techniques to drive more traffic to your business and wow your clients
                with a user friendly, modern, and mobile optimized website. We'll make sure your business is listed on Google and
                make it easier for customers to find you. Every member on our team has a Bachelor's Degree related to their
                field and experience working on many projects. Click the button below to see why we are ranked <b>Top 24
                    in San Antonio</b> for
                web design below: </p>
            <div style="margin-top:5px;" data-aos="fade-in">
                <a href="https://www.expertise.com/tx/san-antonio/web-design/#LorenzanaWebDesign" target="_blank"
                   class="get-started-btn"><i class="bx bx-award"></i> Top 24 Web Designer <i
                        class="bx bx-award"></i></a>
            </div>
        </div>

        <div class="row">
            <div class="image col-xl-5 d-flex align-items-stretch justify-content-center justify-content-lg-start"></div>
            <div class="col-xl-7 pl-0 pl-lg-5 pr-lg-1 d-flex align-items-stretch">
                <div class="content d-flex flex-column justify-content-center">
                    <h3 data-aos="fade-in" data-aos-delay="100">We know how to establish your online presence</h3>
                    <p data-aos="fade-in">
                        We are owned and operated out of San Antonio, and want to see small businesses grow!
                    </p>
                    <div class="row">
                        <div class="col-md-6 icon-box" data-aos="fade-up">
                            <i class="bx bx-receipt"></i>
                            <h4><a href="#">Web Design and Hosting</a></h4>
                            <p>We use the latest tech in web development and design to create attractive eye catching
                                websites. We follow best practices and build beautiful Wordpress or custom website
                                designs. We also build landing pages using a large library of trending template designs.
                            </p>
                        </div>
                        <div class="col-md-6 icon-box" data-aos="fade-up" data-aos-delay="100">
                            <i class="bx bx-cube-alt"></i>
                            <h4><a href="#">Google Analytics</a></h4>
                            <p>We are Google Analytics certified and can provide insight into how your
                                website is performing, and where improvements can be made. We provide basic analytics tracking as a part
                                of all our packages. View our certification
                                <a target="_blank"
                                   href="https://analytics.google.com/analytics/academy/certificate/zc3PivurTdKQ_Ecs5mOgKA">Here</a>
                            </p>
                        </div>
                        <div class="col-md-6 icon-box" data-aos="fade-up" data-aos-delay="200">
                            <i class="bx bx-images"></i>
                            <h4><a href="#">Graphic Design</a></h4>
                            <p>We provide logo design, brochure design, and custom illustrations using the tried and
                                tested Adobe suite</p>
                        </div>
                        <div class="col-md-6 icon-box" data-aos="fade-up" data-aos-delay="300">
                            <i class="bx bx-shield"></i>
                            <h4><a href="#">Search Engine Optimization</a></h4>
                            <p>We can get your business listed on Google, track using Google Analytics, and look for
                                areas of improvement</p>
                        </div>
                    </div>
                </div><!-- End .content-->
            </div>
        </div>

    </div>
</section><!-- End About Section -->

<script type="application/ld+json">
    {
        "@context": "https://schema.org",
        "@type": "Organization",
        "url": "http://www.lorenzanadesigns.com",
        "logo": "/assets/img/logo.png"
    }

</script>

<script type="application/ld+json">
    {
        "@context": "https://schema.org/",
        "@type": "AggregateRating",
        "itemReviewed": {
            "@type": "ProfessionalService",
            "image": "/assets/img/logo.png",
            "name": "Lorenzana Web Design",
            "telephone": "2102867939",
            "priceRange": "$",
            "address": {
                "@type": "PostalAddress",
                "addressLocality": "San Antonio",
                "addressRegion": "TX",
                "postalCode": "78232",
                "addressCountry": "US"
            }
        },
        "ratingValue": "100",
        "bestRating": "100",
        "ratingCount": "3"
    }
</script>
