<!-- ======= About Section ======= -->
<section id="about" class="about section-bg">
    <div class="container">

        <div class="section-title">
            <h2 data-aos="fade-in">About Us</h2>
            <p data-aos="fade-in">At Lorenzana Web Design, our primary objective is to give your business a strong online presence.
            We will use our game changing techniques to drive more traffic to your business and wow your clients with a user friendly, modern, and mobile optimized website. We'll make sure your business is listed on Google and can offer
                SEO (Search Engine Optimization) to your website to make it easier for customers to find you.
                Every member on our team has a Bachelor's Degree related to their field and experience working on many projects. Click the button below to see why we are ranked <b>Top 24 in San Antonio</b> for
            web design below: </p>
            <div style="margin-top:5px;" data-aos="fade-in">
                <a href="https://www.expertise.com/tx/san-antonio/web-design/#LorenzanaWebDesign" target="_blank" class="get-started-btn"><i class="bx bx-award"></i> Top 24 Web Designer <i class="bx bx-award"></i></a>
            </div>
        </div>

        <div class="row">
            <div class="image col-xl-5 d-flex align-items-stretch justify-content-center justify-content-lg-start"></div>
            <div class="col-xl-7 pl-0 pl-lg-5 pr-lg-1 d-flex align-items-stretch">
                <div class="content d-flex flex-column justify-content-center">
                    <h3 data-aos="fade-in" data-aos-delay="100">We provide a multitude of services engineered to boost your online presence</h3>
                    <!--<p data-aos="fade-in">-->
                    <!--    We are proud to be ranked as on the top web designers in San Antonio -->
                    <!--</p>-->
                    <div class="row">
                        <div class="col-md-6 icon-box" data-aos="fade-up">
                            <i class="bx bx-receipt"></i>
                            <h4><a href="#">Web Design</a></h4>
                            <p>We use the latest tech in web development and design to create attractive eye catching websites</p>
                        </div>
                        <div class="col-md-6 icon-box" data-aos="fade-up" data-aos-delay="100">
                            <i class="bx bx-cube-alt"></i>
                            <h4><a href="#">Google Analytics</a></h4>
                            <p>We are Google Analytics certified and can provide vital dynamic information into how your website is performing, and where improvements can be made</p>
                        </div>
                        <div class="col-md-6 icon-box" data-aos="fade-up" data-aos-delay="200">
                            <i class="bx bx-images"></i>
                            <h4><a href="#">Graphic Design</a></h4>
                            <p>We provide logo design, brochure design, and custom illustrations using the tried and tested Adobe suite</p>
                        </div>
                        <div class="col-md-6 icon-box" data-aos="fade-up" data-aos-delay="300">
                            <i class="bx bx-shield"></i>
                            <h4><a href="#">Search Engine Optimization</a></h4>
                            <p>We can get your business listed on Google, track using Google Analytics, and look for areas of improvement</p>
                        </div>
                    </div>
                </div><!-- End .content-->
            </div>
        </div>

    </div>
</section><!-- End About Section -->
