<section id="blog" class="section-bg">
    <div class="container">
        <div class="section-title">
            <h2 data-aos="fade-in">Blog</h2>
            <p data-aos="fade-in">Check out our blog to learn more about web design, seo, and general tips on how to grow your business online.</p>
        </div>
        <div id="medium-widget"></div>
        <script src="https://medium-widget.pixelpoint.io/widget.js"></script>
        <script>MediumWidget.Init({renderTo: '#medium-widget',
            params: {
                "resource": "https://medium.com/@lorenzanamarcus",
                "postsPerLine": 1,
                "limit": 8,
                "picture": "small",
                "fields": ["description", "author", "claps", "publishAt"],
                "ratio": "landscape"
            }
        })</script>
    </div>
</section>
