<!-- ======= Contact Section ======= -->
<section id="contact" class="contact section-bg">
    <div class="container">

        <div class="section-title">
            <h2 data-aos="fade-in">Reach Out</h2>
            <a target="_blank" href="https://twitter.com/lorenzana_web"><i class="fab fa-twitter fa-2x" style="margin-right:5px;"></i></a>
            <a target="_blank" href="https://www.facebook.com/lorenzanaweb"><i class="fab fa-facebook fa-2x" style="margin-right:5px;"></i></a>
            <a target="_blank" href="https://www.linkedin.com/company/lorenzana-web-design"><i class="fab fa-linkedin fa-2x" style="margin-right:5px;"></i></a>
            <a target="_blank" href="https://g.page/LorenzanaWeb?gm"><i class="fab fa-google fa-2x" style="margin-right:5px;"></i></a>
            <p data-aos="fade-in">Call or email us today for a free quote or use the contact form below. Ask us if your website could qualify for FREE hosting.</p>
        </div>

        <div class="row">

            <div class="col-lg-6">

                <div class="row">
                    <div class="col-md-12">
                        <div class="info-box" data-aos="fade-up">
                            <i class="bx bx-map"></i>
                            <h3>Area</h3>
                            <p>We are located in San Antonio, TX.</p>
                        </div>
                    </div>
                    <div class="col-md-6">
                        <div class="info-box mt-4" data-aos="fade-up" data-aos-delay="100">
                            <i class="bx bx-envelope"></i>
                            <h3>Email Us</h3>
                            <p>info@lorenzanadesigns.com</p>
                        </div>
                    </div>
                    <div class="col-md-6">
                        <div class="info-box mt-4" data-aos="fade-up" data-aos-delay="100">
                            <i class="bx bx-phone-call"></i>
                            <h3>Call Us</h3>
                            <p>+1 210-286-7939</p>
                        </div>
                    </div>
                </div>

            </div>

            <div class="col-lg-6">
                <form action="https://formspree.io/mrgynnwe" method="POST" id="contact_us">
                    <div class="form-row">
                        <div class="col-md-6 form-group">
                            <label>Your name:</label>
                            <input type="text" name="name" class="form-control" id="name" placeholder="Your Name" data-rule="minlen:4" data-msg="Please enter at least 4 chars" />
                            <div class="validate"></div>
                        </div>
                        <div class="col-md-6 form-group">
                            <label>Your email:</label>
                            <input type="email" class="form-control" name="_replyto" id="email" placeholder="Your Email" data-rule="email" data-msg="Please enter a valid email" />
                            <div class="validate"></div>
                        </div>
                    </div>
                    <div class="form-group">
                        <label>Subject:</label>
                        <input type="text" class="form-control" name="subject" id="subject" placeholder="Subject" data-rule="minlen:4" data-msg="Please enter at least 8 chars of subject" />
                        <div class="validate"></div>
                    </div>
                    <div class="form-group">
                        <label>Message:</label>
                        <textarea class="form-control" name="message" id="message" rows="5" data-rule="required" data-msg="Please write something for us" placeholder="Message"></textarea>
                        <div class="validate"></div>
                    </div>
                    <div class="text-center"><button type="submit" class="btn btn-primary">Send Message</button></div>
                </form>
            </div>

        </div>

    </div>
</section><!-- End Contact Section -->

<script type="application/ld+json">
    {
        "@context": "https://schema.org",
        "@type": "Web Design",
        "image": [
        ],
        "@id": "https://www.lorenzanadesigns.com",
        "name": "Lorenzana Web Design",
        "address": {
            "@type": "PostalAddress",
            "addressLocality": "San Antonio",
            "addressRegion": "TX",
            "postalCode": "78232",
            "addressCountry": "US"
        },
        "review": {
            "@type": "Review",
            "reviewRating": {
                "@type": "Rating",
                "ratingValue": "5",
                "bestRating": "5"
            },
            "author": {
                "@type": "Person",
                "name": "Marcus Lorenzana"
            }
        },
        "url": "https://www.lorenzanadesigns.com",
        "telephone": "+2102867939",
        "priceRange": "$",
        "openingHoursSpecification": [
            {
                "@type": "OpeningHoursSpecification",
                "dayOfWeek": [
                    "Monday",
                    "Tuesday",
                    "Wednesday",
                    "Thursday",
                    "Friday",
                    "Saturday",
                    "Sunday"
                ],
                "opens": "00:00",
                "closes": "00:00"
            }
        ],
    }
</script>
