<!-- ======= Frequently Asked Questions Section ======= -->
<section id="faq" class="faq section-bg">
    <div class="container">

        <div class="section-title">
            <h2 data-aos="fade-in">Frequently Asked Questions</h2>
        </div>

        <div class="row faq-item d-flex align-items-stretch" data-aos="fade-up">
            <div class="col-lg-5">
                <i class="bx bx-help-circle"></i>
                <h4>Why do I need a website?</h4>
            </div>
            <div class="col-lg-7">
                <p>
                    If you have a business in this digital age, it is vital to have a professional website that users can visit. This gives your users the first impression of your company and establishes trust with potential customers. If you want to appear legitimate, you want to make sure your website is modern, user-friendly, fast, and mobile optimized. At Lorenzana Web Design, we will take care of all of that for you.
                    Having a website is also the foundation on which you can build SEO. You can't target keywords for people to search on Google or other search engines without a website.
                </p>
            </div>
        </div><!-- End F.A.Q Item-->

        <div class="row faq-item d-flex align-items-stretch" data-aos="fade-up" data-aos-delay="100">
            <div class="col-lg-5">
                <i class="bx bx-help-circle"></i>
                <h4>Who handles the hosting?</h4>
            </div>
            <div class="col-lg-7">
                <p>
                    For WordPress sites, we will ensure that you are correctly set up with hosting so that your website is live and points to the domain of your choosing. However, you will own the hosting and the payment associated with it.
                    If you decide to opt for our static information website (such as this website), we can provide a particular implementation that would require no hosting payments on your part. We understand hosting can seem a bit confusing at times. Rest assured,
                    we'll walk you through it every step of the way and answer any questions you have.
                </p>
            </div>
        </div><!-- End F.A.Q Item-->

        <div class="row faq-item d-flex align-items-stretch" data-aos="fade-up" data-aos-delay="200">
            <div class="col-lg-5">
                <i class="bx bx-help-circle"></i>
                <h4>Is SEO really necessary?</h4>
            </div>
            <div class="col-lg-7">
                <p>
                    Your website will still function perfectly fine, and people will be able to reach your URL as usual directly without SEO. However, we highly recommend signing up for our SEO services, as that will be one of the single most
                    important ways that your customers will find you. If your business website is not optimized for search engines, your competitors could have an advantage over you if they do. We do offer a free audit for your website. Check our Search Engine Optimization
                    section or wait for the dialog to show to fill in your site info, and we'll get back to you with a personalized report. We use industry-leading software and techniques to make sure you are found on search engines.
                </p>
            </div>
        </div><!-- End F.A.Q Item-->

        <div class="row faq-item d-flex align-items-stretch" data-aos="fade-up" data-aos-delay="300">
            <div class="col-lg-5">
                <i class="bx bx-help-circle"></i>
                <h4>What is Google Analytics?</h4>
            </div>
            <div class="col-lg-7">
                <p>
                    Google Analytics is what we would consider another foundational piece of your website. This incredibly useful information will help you see how much traffic is coming to your website, how many times users submitted a form,
                    where your users are coming from, and more. Without Google Analytics, there is no way to tell how your website is performing. We provide Google Analytics as part of all our packages, and we are certified! To take advantage
                    of this technology, however, we recommend signing up with our personalized SEO service so that you can improve upon those statistics.
                </p>
            </div>
        </div><!-- End F.A.Q Item-->

        <div class="row faq-item d-flex align-items-stretch" data-aos="fade-up" data-aos-delay="400">
            <div class="col-lg-5">
                <i class="bx bx-help-circle"></i>
                <h4>How long will it take to create my website?</h4>
            </div>
            <div class="col-lg-7">
                <p>
                    At Lorenzana Designs, we pride ourselves on fast turnaround time without compromising quality. On average, simple informational websites usually take about 10-15 days. For more complex websites, which include a blog
                    or possibly eCommerce, the process can take 30-60 days.
                </p>
            </div>
        </div><!-- End F.A.Q Item-->

        <div class="row faq-item d-flex align-items-stretch" data-aos="fade-up" data-aos-delay="400">
            <div class="col-lg-5">
                <i class="bx bx-help-circle"></i>
                <h4>What payments do you accept?</h4>
            </div>
            <div class="col-lg-7">
                <p>
                    We accept all major forms of payment including: cash / check, credit card, PayPal, Zelle, Venmo, and even Bitcoin!
                </p>
            </div>
        </div><!-- End F.A.Q Item-->

    </div>
</section><!-- End Frequently Asked Questions Section -->


<script type="application/ld+json">
    {
        "@context": "https://schema.org",
        "@type": "FAQPage",
        "mainEntity": [{
            "@type": "Question",
            "name": "Why do I need a website?",
            "acceptedAnswer": {
                "@type": "Answer",
                "text": "In this digital age, if you have a business it is vital to have a professional website that users can visit. This gives your users a first impression of your company and establishes trust with potential customers. If you want to appear legitimate however, you want to make sure your website looks modern, is user friendly, fast, and mobile optimized. At Lorenzana Web Design we will take care of all of that for you. Having a website is also the foundation of which you can build SEO on. Without a website, you can't target keywords for people to search on Google or other search engines."
            }
        }, {
            "@type": "Question",
            "name": "Who handles the hosting?",
            "acceptedAnswer": {
                "@type": "Answer",
                "text": "For Wordpress sites, we will ensure that you are properly setup with hosting so that your website is live and points to the domain of your choosing. However, you will own the hosting and the payment associated with it. If you decide to opt for our static information website (such as this website), we can provide a special implementation that would require no hosting payments on your part. We understand hosting can seem a bit confusing at times. Rest assured, we'll walk you through it every step of the way and answer any questions you have."
            }
        }, {
            "@type": "Question",
            "name": "Is SEO really necessary?",
            "acceptedAnswer": {
                "@type": "Answer",
                "text": "Your website will still function perfectly fine, and people will be able to reach your URL as normal directly without SEO. We highly recommend signing up for our SEO services however, as that is going to be one of the single most important ways that your customers will find you. If your business website is not optimized for search engines, your competitors could have an advantage over you if they do. We do offer a free audit for your website. Check our Search Engine Optimization section or wait for the dialog to show to fill in your site info and we'll get back to you with a personalized report. We use industry leading software and techniques to make sure you are found on search engines."
            }
        }, {
            "@type": "Question",
            "name": "What is Google Analytics?",
            "acceptedAnswer": {
                "@type": "Answer",
                "text": "Google Analytics is what we would consider another foundational piece of your website. This incredibly useful information will help you see how much traffic is coming to your website, how many times users submitted a form, where are your users coming from, and more. Without Google Analytics there is no way to tell how your website is performing. We provide Google Analytics as part of all our packages and we are certified! To really take advantage of this technology, however, we recommend signing up with our personalized SEO service so that you can actually improve upon those statistics."
            }
        }, {
            "@type": "Question",
            "name": "How long will it take to create my website?",
            "acceptedAnswer": {
                "@type": "Answer",
                "text":"At Lorenzana Designs, we pride ourselves in fast turnaround time without compromising quality. On average, simple informational websites usually take about 10-15 days. For more complex websites, which include a blog or possibly eCommerce the process can take 30-60 days."}
        }, {
            "@type": "Question",
            "name": "What payments do you accept?",
            "acceptedAnswer": {
                "@type": "Answer",
                "text":"We accept all major forms of payment including: cash / check, credit card, PayPal, Zelle, Venmo, and even Bitcoin!"}
        }]
    }
</script>
