<!-- ======= Features Section ======= -->
<section id="features" class="features section-bg">
    <div class="container">
        <div class="section-title">
            <h2 data-aos="fade-in">Services</h2>
            <p data-aos="fade-in">Check out some of our services down below</p>
        </div>

        <div class="row content">
            <div class="col-md-5" data-aos="fade-right">
                <img src="assets/img/features-1.svg" class="img-fluid" alt="Mobile Friendly Web Design">
            </div>
            <div class="col-md-7 pt-4" data-aos="fade-left">
                <h3>Mobile Friendly Web Design</h3>
                <p class="font-italic">
                    We live during a time where having a website with a professional and modern appearance is extremely important.
                    Having a website built by a professional web designer will establish greater trust with your clients, bring them quicker to you, and maintain its style and usability scaled to mobile devices.
                    Did you know mobile devices make up more than half of online traffic to websites? Don't compromise. Get a responsive website today.
                </p>
                <ul>
                    <li><i class="icofont-check"></i> Attractive mobile friendly design</li>
                    <li><i class="icofont-check"></i> Touch screen interaction</li>
                    <li><i class="icofont-check"></i> Efficient usage of assets to accelerate your website</li>
                    <li><i class="icofont-check"></i> Latest trends in web design to make your website user friendly</li>
                </ul>
            </div>
        </div>

        <div class="row content">
            <div class="col-md-5 order-1 order-md-2" data-aos="fade-left">
                <img src="assets/img/features-2.svg" class="img-fluid" alt="Excellent Customer Support">
            </div>
            <div class="col-md-7 pt-5 order-2 order-md-1" data-aos="fade-right">
                <h3>Hands on interaction and website maintenance</h3>
                <p class="font-italic">
                    We always aim to please and customer interaction is one the most important aspects of our business.
                </p>
                <p>
                    You will be involved in the entire website building process. We'll ask you what you are looking for, what you dislike about your current design and keep you updated every step of the way. We pride ourselves on our quick turnaround time and fair pricing. We also provide additional website maintenance services after
                    your project completion at an affordable rate.
                </p>
            </div>
        </div>

        <div class="row content">
            <div class="col-md-5" data-aos="fade-right">
                <img src="assets/img/features-3.svg" class="img-fluid" alt="HTML CSS JavaScript Wordpress">
            </div>
            <div class="col-md-7 pt-5" data-aos="fade-left">
                <h3>We know our stuff</h3>
                <p class="font-italic">We have a team of highly qualified individuals who have worked for major companies and are incredibly skilled in what they do.</p>
                <div class="row">
                    <div class="col-md-6">
                        <ul>
                            <li><i class="icofont-check"></i> Wordpress </li>
                            <li><i class="icofont-check"></i> HTML </li>
                            <li><i class="icofont-check"></i> CSS </li>
                            <li><i class="icofont-check"></i> JavaScript </li>
                            <li><i class="icofont-check"></i> Adobe </li>
                        </ul>
                    </div>
                </div>
            </div>
        </div>

        <div class="row content">
            <div class="col-md-5 order-1 order-md-2" data-aos="fade-left">
                <img src="assets/img/features-4.svg" class="img-fluid" alt="">
            </div>
            <div class="col-md-7 pt-5 order-2 order-md-1" data-aos="fade-right">
                <h3>Search Engine Optimization</h3>
                <p class="font-italic">
                    We offer services to help boost your online presence and attract the customers that matter. In
                    this online world is more important than ever to be found on search engines, especially locally.
                </p>
                <p>Here are some services we can take care of for you:</p>
                <ul>
                    <li><i class="icofont-check"></i> List your business on Google</li>
                    <li><i class="icofont-check"></i> Optimize your site to be found on search engines e.g. Google</li>
                    <li><i class="icofont-check"></i> View analytics to help you see what's working and what's not</li>
                    <li><i class="icofont-check"></i> Optimize keywords relevant to your business</li>
                    <li><i class="icofont-check"></i> Get more local attention using location based SEO</li>
                </ul>
                <!--<button id="auditButton" type="submit" class="btn btn-primary">Click For Free Audit</button>-->
            </div>

        </div>
    </div>

    </div>
</section><!-- End Features Section -->
