<section id="our-process" class="section-bg">
    <div class="container">
        <div class="section-title">
            <h1 data-aos="fade-in">San Antonio Web Hosting</h1>
            <p data-aos="fade-in"></p>
        </div>
        <section id="process" class="process section-bg">
            <div class="container">

                <div class="section-title">
                    <h2 data-aos="fade-in">Fast and affordable</h2>
                    <p data-aos="fade-in">We provide fast and affordable web hosting through our recommended providers.</p>
                </div>

                <div class="row" style="margin-top: 25px;">
                    <div class="col-md-6 d-flex align-items-stretch">
                        <div class="card">
                            <!--<div class="card-img">-->
                            <!--    <i class="fas fa-drafting-compass"></i>-->
                            <!--</div>-->
                            <div class="card-body">
                                <h5 class="card-title"><a href="">Hassle free</a></h5>
                                <p class="card-text">Web hosting can be tricky to set up and configure when building a new website.
                                    There are a lot of options to consider. How fast does it need to be? What is considered a reasonable price?
                                    How much bandwidth do I need? Do I need a CDN? Whatever your needs, we'll work with you to find the best
                                    hosting provider for your website, taking all significant aspects into account. We'll also configure your
                                    domain and hosting for you as part of all our web design packages.
                                </p>
                                <!--<div class="read-more"><a href="#"><i class="icofont-arrow-right"></i> Read More</a></div>-->
                            </div>
                        </div>
                    </div>
                    <div class="col-md-6 d-flex align-items-stretch">
                        <div class="card">
                            <!--<div class="card-img">-->
                            <!--    <i class="fas fa-paint-brush"></i>-->
                            <!--</div>-->
                            <div class="card-body">
                                <h5 class="card-title"><a href="">Domain Setup</a></h5>
                                <p class="card-text">We'll help you find a great domain name for your business that is easy for your customers to reach and remember. We'll also help configure your hosted website
                                    to use that domain so that people can find you easier and give you your unique footprint on the web! In addition to setting up your hosting server to point to your domain, we also
                                    can help you create subdomains, forward other domains you have to your new domain, and configure HTTPS to your domain so that your website is secure and crawlable.</p>
                                <!--<div class="read-more"><a href="#"><i class="icofont-arrow-right"></i> Read More</a></div>-->
                            </div>
                        </div>

                    </div>
                    <div class="col-md-6 d-flex align-items-stretch">
                        <div class="card">
                            <!--<div class="card-img">-->
                            <!--    <i class="fas fa-comments"></i>-->
                            <!--</div>-->
                            <div class="card-body">
                                <h5 class="card-title"><a href="">Website Migration</a></h5>
                                <p class="card-text">Not satisfied with your current web hosting provider? This is a very common problem. It could be too slow, or they might have changed their pricing. Whatever the reason, we'll help you migrate your website to a new hosting provider to increase speed, bandwidth, and improved
                                website uptime. We'll even make a complete backup of your website for free so you'll always have a working version of your website in case anything goes wrong for any reason.</p>
                                <!--<div class="read-more"><a href="#"><i class="icofont-arrow-right"></i> Read More</a></div>-->
                            </div>
                        </div>
                    </div>
                    <div class="col-md-6 d-flex align-items-stretch">
                        <div class="card">
                            <!--<div class="card-img">-->
                            <!--    <i class="fas fa-columns"></i>-->
                            <!--</div>-->
                            <div class="card-body">
                                <h5 class="card-title"><a href="">SSL Certificate</a></h5>
                                <p class="card-text">We'll help ensure that your website is secure and trusted by the web by helping you get your own SSL certificate and configuring it to your website so that your
                                    website is accessible through HTTPS. It's imperative these days for your website to have SSL encryption and has an enormous impact on Google Search rankings, user experience, and
                                    customer trust. If you've ever visited a website that warned about it not being trustworthy because it does not have proper SSL certificate configuration. As you can imagine,
                                    this can prevent users from visiting your website entirely. Let's make sure that doesn't happen!</p>
                                <!--<div class="read-more"><a href="#"><i class="icofont-arrow-right"></i> Read More</a></div>-->
                            </div>
                        </div>
                    </div>
                </div>

            </div>
        </section><!-- End Services Section -->

    </div>
</section>
