<nav class="nav-menu d-none d-lg-block">
    <ul>
        <li class="drop-down"><a href="">Home <i class="fas fa-caret-down"></i></a>
            <ul>
                <li><a href="/#about">About Us</a></li>
                <li><a href="/#features">Services</a></li>
                <li><a href="/#portfolio">Portfolio</a></li>
                <li><a href="/#team">Team</a></li>
                <li><a href="/#faq">FAQ</a></li>
                <li><a href="/#testimonials">Testimonials</a></li>
                <li><a href="/#contact">Contact Us</a></li>
            </ul>
        </li>
        <li><a href="/blog">Blog</a></li>
    </ul>
</nav><!-- .nav-menu -->
