<section id="our-process" class="section-bg">
    <div class="container">
        <div class="section-title">
            <h1 data-aos="fade-in">San Antonio Web Design Process</h1>
            <p data-aos="fade-in"></p>
        </div>
        <section id="process" class="process section-bg">
            <div class="container">

                <div class="section-title">
                    <h2 data-aos="fade-in">We're with you every step</h2>
                    <p data-aos="fade-in">Our website design process is rock solid and proven. We'll get you up and running in four easy steps.</p>
                </div>

                <div class="row" style="margin-top: 25px;">
                    <div class="col-md-6 d-flex align-items-stretch">
                        <div class="card">
                            <!--<div class="card-img">-->
                            <!--    <i class="fas fa-drafting-compass"></i>-->
                            <!--</div>-->
                            <div class="card-body">
                                <h5 class="card-title"><a href="">1. Initial Planning</a></h5>
                                <p class="card-text">The first step is to get to know each other! We'll learn more about your business, your intended audience, and websites in your industry that inspire you.
                                This is also the phase where we figure out which package works out best for your business, web hosting of choice, and whether you'd like to use an existing domain or new.
                                </p>
                                <!--<div class="read-more"><a href="#"><i class="icofont-arrow-right"></i> Read More</a></div>-->
                            </div>
                        </div>
                    </div>
                    <div class="col-md-6 d-flex align-items-stretch">
                        <div class="card">
                            <!--<div class="card-img">-->
                            <!--    <i class="fas fa-paint-brush"></i>-->
                            <!--</div>-->
                            <div class="card-body">
                                <h5 class="card-title"><a href="">2. Initial Design</a></h5>
                                <p class="card-text">The next important step in the process is the beginning of your website's construction! This is where we'll ask you for the text you'd like to use,
                                    the images, and the overall layout you are looking for. We'll also narrow down the top websites in your industry that inspire you the most.
                                    The initial design will give you an idea for the main pieces of the page will be laid out and allow you to make the more involved changes upfront before
                                    implementing the pictures and text provided.</p>
                                <!--<div class="read-more"><a href="#"><i class="icofont-arrow-right"></i> Read More</a></div>-->
                            </div>
                        </div>

                    </div>
                    <div class="col-md-6 d-flex align-items-stretch">
                        <div class="card">
                            <!--<div class="card-img">-->
                            <!--    <i class="fas fa-comments"></i>-->
                            <!--</div>-->
                            <div class="card-body">
                                <h5 class="card-title"><a href="">3. Your Feedback</a></h5>
                                <p class="card-text">Now we'll make sure the design is to your liking. After the initial design is approved, we'll begin working on including the assets you provided us and
                                    construct your website using WordPress or a custom website design depending on your needs from the first meeting. After we believe we have the bulk
                                    of the work complete, we'll provide you with a preview URL to interact and use the webpage in real-time and provide any feedback for small changes.</p>
                                <!--<div class="read-more"><a href="#"><i class="icofont-arrow-right"></i> Read More</a></div>-->
                            </div>
                        </div>
                    </div>
                    <div class="col-md-6 d-flex align-items-stretch">
                        <div class="card">
                            <!--<div class="card-img">-->
                            <!--    <i class="fas fa-columns"></i>-->
                            <!--</div>-->
                            <div class="card-body">
                                <h5 class="card-title"><a href="">4. Deployment</a></h5>
                                <p class="card-text">Time to go live! Once the final design is approved, and small adjustments are made, we'll go ahead and deploy your website to your very own
                                    domain and hosting provider. If you are part of our website maintenance plan, the hosting is part of the monthly cost. We'll also make sure that your website is
                                    secure with HTTPS encryption. During this time, we'll also help you set up your Google My Business and include Google Analytics to track your website performance. Finally,
                                    we'll review our other services, such as website maintenance or SEO.</p>
                                <!--<div class="read-more"><a href="#"><i class="icofont-arrow-right"></i> Read More</a></div>-->
                            </div>
                        </div>
                    </div>
                </div>

            </div>
        </section><!-- End Services Section -->

    </div>
</section>
