<!-- ======= Portfolio Section ======= -->
<section id="portfolio" class="portfolio section-bg">
    <div class="container">

        <div class="section-title">
            <h2 data-aos="fade-in">Portfolio</h2>
            <p data-aos="fade-in"></p>
        </div>

        <div class="row">
            <div class="col-lg-12">
                <ul id="portfolio-flters">
                    <li data-filter="*" class="filter-active">All</li>
                    <li data-filter=".filter-app">App</li>
                    <li data-filter=".filter-web">Web</li>
                </ul>
            </div>
        </div>

        <div class="row portfolio-container" data-aos="fade-up">

            <div class="col-lg-4 col-md-6 portfolio-item filter-web">
                <div class="portfolio-wrap">
                    <img src="assets/img/portfolio/portfolio-dd.webp" class="img-fluid" alt="Portfolio Website">
                    <div class="portfolio-links">
                        <a href="https://www.depthsdesign.com" target="_blank" title="More Details">Go</a>
                    </div>
                    <div class="portfolio-info">
                        <h4>Depth's Designs</h4>
                        <p>Website</p>
                    </div>
                </div>
            </div>

            <div class="col-lg-4 col-md-6 portfolio-item filter-web">
                <div class="portfolio-wrap">
                    <img src="assets/img/portfolio/portfolio-me.webp" class="img-fluid" alt="Resume Website">
                    <div class="portfolio-links">
                        <a href="https://www.marcuslorenzana.com" target="_blank" title="More Details">Go</a>
                    </div>
                    <div class="portfolio-info">
                        <h4>Resume Website</h4>
                        <p>Website</p>
                    </div>
                </div>
            </div>

            <div class="col-lg-4 col-md-6 portfolio-item filter-web">
                <div class="portfolio-wrap">
                    <img src="assets/img/portfolio/portfolio-lawns.webp" class="img-fluid" alt="Landscaping Site">
                    <div class="portfolio-links">
                        <a href="https://meestermarcus.github.io/example-landscaping-for-mike" target="_blank" title="More Details">Go</a>
                    </div>
                    <div class="portfolio-info">
                        <h4>All American Lawns</h4>
                        <p>Website</p>
                    </div>
                </div>
            </div>

            <div class="col-lg-4 col-md-6 portfolio-item filter-app">
                <div class="portfolio-wrap">
                    <img src="assets/img/portfolio/portfolio-covidashboard.webp" class="img-fluid" alt="Covid Dashboard">
                    <div class="portfolio-links">
                        <a href="https://www.covidashboard.com" target="_blank" title="More Details">Go</a>
                    </div>
                    <div class="portfolio-info">
                        <h4>Covidashboard</h4>
                        <p>Web Application</p>
                    </div>
                </div>
            </div>

            <div class="col-lg-4 col-md-6 portfolio-item filter-web">
                <div class="portfolio-wrap">
                    <img src="assets/img/portfolio/portfolio-restaurant.webp" class="img-fluid" alt="">
                    <div class="portfolio-links">
                        <a href="https://meestermarcus.github.io//restaurant-jekyll/" target="_blank" title="More Details">Go</a>
                    </div>
                    <div class="portfolio-info">
                        <h4>Restaurant Example</h4>
                        <p>Website</p>
                    </div>
                </div>
            </div>

            <div class="col-lg-4 col-md-6 portfolio-item filter-web">
                <div class="portfolio-wrap">
                    <img src="assets/img/portfolio/portfolio-txflight.webp" class="img-fluid" alt="Texas Flight Elite Basketball">
                    <div class="portfolio-links">
                        <a href="https://www.txflightelitebasketball.com" target="_blank" title="More Details">Go</a>
                    </div>
                    <div class="portfolio-info">
                        <h4>Texas Flight Elite Basketball</h4>
                        <p>Website</p>
                    </div>
                </div>
            </div>

            <div class="col-lg-4 col-md-6 portfolio-item filter-web">
                <div class="portfolio-wrap">
                    <img src="assets/img/portfolio/portfolio-mohammed.webp" class="img-fluid" alt="Ibrahim Mohammed">
                    <div class="portfolio-links">
                        <a href="https://meestermarcus.github.io/mohammed-ibrahim-resume/" target="_blank" title="More Details">Go</a>
                    </div>
                    <div class="portfolio-info">
                        <h4>Ibrahim Mohammed</h4>
                        <p>Website</p>
                    </div>
                </div>
            </div>

            <div class="col-lg-4 col-md-6 portfolio-item filter-web">
                <div class="portfolio-wrap">
                    <img src="assets/img/portfolio/swtxc-portfolio.webp" class="img-fluid" alt="Southwest Texas Contractors, LLC.">
                    <div class="portfolio-links">
                        <a href="https://www.swtxc.org" target="_blank" title="More Details">Go</a>
                    </div>
                    <div class="portfolio-info">
                        <h4>Southwest Texas Contractors</h4>
                        <p>Website</p>
                    </div>
                </div>
            </div>

            <div class="col-lg-4 col-md-6 portfolio-item filter-web">
                <div class="portfolio-wrap">
                    <img src="assets/img/portfolio/itakecrypto.webp" class="img-fluid" alt="I Take Cryptocurrency">
                    <div class="portfolio-links">
                        <a href="https://itakecryptocurrency.com" target="_blank" title="More Details">Go</a>
                    </div>
                    <div class="portfolio-info">
                        <h4>I Take Cryptocurrency</h4>
                        <p>Website</p>
                    </div>
                </div>
            </div>

            <div class="col-lg-4 col-md-6 portfolio-item filter-web">
                <div class="portfolio-wrap">
                    <img src="assets/img/portfolio/portfolio-phlyrr.webp" class="img-fluid" alt="I Take Cryptocurrency">
                    <div class="portfolio-links">
                        <a href="https://phlyrr.com" target="_blank" title="More Details">Go</a>
                    </div>
                    <div class="portfolio-info">
                        <h4>Phlyrr</h4>
                        <p>Website</p>
                    </div>
                </div>
            </div>
        </div>

    </div>
</section>
