<!-- ======= Pricing Section ======= -->
<section id="pricing" class="pricing section-bg">
    <div class="container">

        <div class="section-title">
            <h2 data-aos="fade-in">Pricing</h2>
            <p data-aos="fade-in">We provide flexible pricing for individuals/business. Below is a list of common options that make the most difference in pricing</p>
        </div>

        <div class="row no-gutters">

            <div class="col-lg-4 box" data-aos="zoom-in">
                <h3>Starter</h3>
                <h4>$540</h4>
                <ul>
                    <li><i class="bx bx-check"></i> Landing Page</li>
                    <li><i class="bx bx-check"></i> Mobile friendly</li>
                    <li><i class="bx bx-check"></i> Google Analytics</li>
                    <li class="na"><i class="bx bx-x"></i> <span>Up to 5 pages</span></li>
                    <li class="na"><i class="bx bx-x"></i> <span>SEO Optimized</span></li>
                    <li class="na"><i class="bx bx-x"></i> <span>SEO Monitoring</span></li>
                </ul>
                <a href="#" class="get-started-btn">Get Started</a>
            </div>

            <div class="col-lg-4 box featured" data-aos="zoom-in">
                <span class="featured-badge">Featured</span>
                <h3>Business</h3>
                <h4>$800</h4>
                <ul>
                    <li><i class="bx bx-check"></i> Landing Page</li>
                    <li><i class="bx bx-check"></i> Mobile Friendly</li>
                    <li><i class="bx bx-check"></i> Google Analytics</li>
                    <li><i class="bx bx-check"></i> Up to 5 pages</li>
                    <li><i class="bx bx-check"></i> SEO Optimized</li>
                    <li class="na"><i class="bx bx-x"></i> <span>SEO Monitoring</span></li>
                </ul>
                <a href="#" class="get-started-btn">Get Started</a>
            </div>

            <div class="col-lg-4 box" data-aos="zoom-in">
                <h3>PRO</h3>
                <h4>$1200</h4>
                <ul>
                    <li><i class="bx bx-check"></i> Landing Page</li>
                    <li><i class="bx bx-check"></i> Mobile Friendly</li>
                    <li><i class="bx bx-check"></i> Google Analytics</li>
                    <li><i class="bx bx-check"></i> Up to 10 pages</li>
                    <li><i class="bx bx-check"></i> SEO Optimized</li>
                    <li><i class="bx bx-check"></i> SEO Monitoring</li>
                    <li><i class="bx bx-check"></i> Sell Products</li>
                </ul>
                <a href="#" class="get-started-btn">Get Started</a>
            </div>

        </div>

    </div>
</section><!-- End Pricing Section -->
