<!-- ======= Pricing Section ======= -->
<section id="pricing" class="pricing section-bg">
    <div class="container">

        <div class="section-title">
            <h2 data-aos="fade-in">Pricing</h2>
            <p data-aos="fade-in">We provide flexible pricing for individuals/business. Below is a list of common options that make the most difference in pricing although we can accommodate many configurations</p>
        </div>

        <div class="row no-gutters">

            <div class="col-lg-4 box" data-aos="zoom-in">
                <h3>Bronze</h3>
                <h4>$649.99</h4>
                <ul>
                    <li><i class="bx bx-check"></i> Landing Page (e.g. this website)</li>
                    <li><i class="bx bx-check"></i> Mobile friendly</li>
                    <li><i class="bx bx-check"></i> Google Analytics</li>
                    <li class="na"><i class="bx bx-x"></i> <span>Up to 5 pages</span></li>
                    <li class="na"><i class="bx bx-x"></i> <span>Blog</span></li>
                    <li class="na"><i class="bx bx-x"></i> <span>Basic search optimization</span></li>
                    <li class="na"><i class="bx bx-x"></i> <span>Local optimization</span></li>
                    <li class="na"><i class="bx bx-x"></i> <span>Sell Products</span></li>
                </ul>
                <a href="#contact" class="get-started-btn">Let's do it!</a>
            </div>

            <div class="col-lg-4 box featured" data-aos="zoom-in">
                <span class="featured-badge">Featured</span>
                <h3>Silver</h3>
                <h4>$1199.99</h4>
                <ul>
                    <li><i class="bx bx-check"></i> Landing Page (e.g. this website)</li>
                    <li><i class="bx bx-check"></i> Mobile Friendly</li>
                    <li><i class="bx bx-check"></i> Google Analytics</li>
                    <li><i class="bx bx-check"></i> Up to 5 additional pages</li>
                    <li><i class="bx bx-check"></i> Blog</li>
                    <li><i class="bx bx-check"></i> <span>Basic search optimization</span></li>
                    <li class="na"><i class="bx bx-x"></i> <span>Local optimization</span></li>
                    <li class="na"><i class="bx bx-x"></i> <span>Sell Products</span></li>
                </ul>
                <a href="#contact" class="get-started-btn">Let's do it!</a>
            </div>

            <div class="col-lg-4 box" data-aos="zoom-in">
                <h3>Gold</h3>
                <h4>$2499.99</h4>
                <ul>
                    <li><i class="bx bx-check"></i> Landing Page (e.g. this website)</li>
                    <li><i class="bx bx-check"></i> Mobile Friendly</li>
                    <li><i class="bx bx-check"></i> Google Analytics</li>
                    <li><i class="bx bx-check"></i> Up to 10 additional pages</li>
                    <li><i class="bx bx-check"></i> Blog</li>
                    <li><i class="bx bx-check"></i> <span>Basic search optimization</span></li>
                    <li><i class="bx bx-check"></i> <span>Local optimization</span></li>
                    <li><i class="bx bx-check"></i> eCommerce</li>
                </ul>
                <a href="#contact" class="get-started-btn">Let's do it!</a>
            </div>

        </div>

    </div>
</section><!-- End Pricing Section -->
