<!-- ======= Team Section ======= -->
<section id="team" class="team section-bg">
    <div class="container">

        <div class="section-title">
            <h2 data-aos="fade-in">Team</h2>
            <p data-aos="fade-in">Meet our talented team below! Together we'll create something amazing for you or your business.</p>
        </div>

            <div class="row justify-content-center">
                <div class="col-xl-3 col-lg-4 col-md-6">
                    <div class="member" data-aos="fade-up">
                        <div class="pic"><img height="338" width="255" src="assets/img/team/marcus.svg" alt="Business Owner and Web Developer"></div>
                        <h4>Marcus Lorenzana</h4>
                        <span>Business Owner and Web Developer</span>
                        <div class="social">
<!--                            <a href=""><i class="icofont-twitter"></i></a>-->
<!--                            <a href=""><i class="icofont-facebook"></i></a>-->
<!--                            <a href=""><i class="icofont-instagram"></i></a>-->
                            <a href="https://www.linkedin.com/in/lorenzanamarcus/"><i class="icofont-linkedin"></i></a>
                        </div>
                    </div>
                </div>

                <div class="col-xl-3 col-lg-4 col-md-6">
                    <div class="member" data-aos="fade-up" data-aos-delay="100">
                        <div class="pic"><img height="338" width="255" src="assets/img/team/val.jpg" alt="Graphic Designer"></div>
                        <h4>Valeria Romero</h4>
                        <span>Graphic Designer</span>
                        <div class="social">
<!--                            <a href=""><i class="icofont-twitter"></i></a>-->
<!--                            <a href=""><i class="icofont-facebook"></i></a>-->
<!--                            <a href=""><i class="icofont-instagram"></i></a>-->
                            <a href="https://www.linkedin.com/in/maria-saldivar-romero-0a91a6157/"><i class="icofont-linkedin"></i></a>
                        </div>
                    </div>
                </div>

    </div>
</section><!-- End Team Section -->
