<div id="testimonials" class="text-center">
    <div class="overlay">
        <div class="container">
            <div class="section-title">
                <h2>Testimonials</h2>
                <hr>
            </div>
            <div class="row">
                <div class="col-md-12">
                    <div id="testimonial" class="owl-carousel owl-theme">
                        <div class="item">
                            <p>"Marcus was extremely professional and prompt with his deadlines and communication. I was very satisfied with the quality of the website he personalized just for me. I would recommend Marcus to anyone who is looking to setup a website!"</p>
                            <p>- Mark</p>
                            <p>
                                <span class="fa fa-star checked"></span>
                                <span class="fa fa-star checked"></span>
                                <span class="fa fa-star checked"></span>
                                <span class="fa fa-star checked"></span>
                                <span class="fa fa-star checked"></span>
                            </p>
                        </div>
                        <div class="item">
                            <p>"Marcus was professional to work with and got my website done and up live on my domain name quickly. He was very informative about the services he provides and I couldn't be happier with the finished design. it came out exactly how I imaged plus more."</p>
                            <p>- Michael</p>
                            <p>
                                <span class="fa fa-star checked"></span>
                                <span class="fa fa-star checked"></span>
                                <span class="fa fa-star checked"></span>
                                <span class="fa fa-star checked"></span>
                                <span class="fa fa-star checked"></span>
                            </p>
                        </div>
                        <div class="item">
                            <p>"Working with Marcus has been the best decision I have ever done when I was starting my business and I was in need of a website. The design on my webpage is exactly as I pictured it. Stylish, professional, clean and perfect. Thanks to him and thanks to his knowledge and guidance over his experience I am working forward with many customers that spotted my webpage and are in need of graphic design projects. I am definitely working with him again!"</p>
                            <p>- Valeria</p>
                            <p>
                                <span class="fa fa-star checked"></span>
                                <span class="fa fa-star checked"></span>
                                <span class="fa fa-star checked"></span>
                                <span class="fa fa-star checked"></span>
                                <span class="fa fa-star checked"></span>
                            </p>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
