<section id="our-process" class="section-bg">
    <div class="container">
        <div class="section-title">
            <h1 data-aos="fade-in">San Antonio Wordpress Design</h1>
            <p data-aos="fade-in"></p>
        </div>
        <section id="process" class="process section-bg">
            <div class="container">

                <div class="section-title">
                    <h2 data-aos="fade-in">Why use WordPress?</h2>
                    <p data-aos="fade-in">We help provide San Antonio businesses with websites using industry-leading
                        technologies. One of the most popular and proven web design platforms is WordPress. See why it's
                        so widely used and why it makes sense for your business.</p>
                </div>

                <div class="row" style="margin-top: 50px;">
                    <div class="col-md-6 d-flex align-items-stretch">
                        <div class="card">
                            <!--<div class="card-img">-->
                            <!--    <i class="fas fa-cogs"></i>-->
                            <!--</div>-->
                            <div>
                                <h5 class="card-title"><a href="">Easy to customize</a></h5>
                                <p class="card-text">One of the great things about the WordPress CMS platform is that it
                                    allows for easy customization and configuration. WordPress also comes with a wide
                                    array of themes to choose from that have been proven to appeal to viewers and enable
                                    better interaction.
                                </p>
                                <!--<div class="read-more"><a href="#"><i class="icofont-arrow-right"></i> Read More</a></div>-->
                            </div>
                        </div>
                    </div>
                    <div class="col-md-6 d-flex align-items-stretch">
                        <div class="card">
                            <!--<div class="card-img">-->
                            <!--    <i class="fab fa-google"></i>-->
                            <!--</div>-->
                            <div>
                                <h5 class="card-title"><a href="">SEO Friendly</a></h5>
                                <p class="card-text">WordPress websites have a high probability of ranking well in
                                    Google since it has many built-in SEO
                                    features that allow web designers to optimize their content. In addition to that,
                                    several plugins enhance the
                                    SEO toolbox even further that have been maintained and improved upon over the
                                    years.</p>
                                <!--<div class="read-more"><a href="#"><i class="icofont-arrow-right"></i> Read More</a></div>-->
                            </div>
                        </div>

                    </div>
                    <div class="col-md-6 d-flex align-items-stretch">
                        <div class="card">
                            <!--<div class="card-img">-->
                            <!--    <i class="fab fa-wordpress"></i>-->
                            <!--</div>-->
                            <div>
                                <h5 class="card-title"><a href="">Most popular CMS</a></h5>
                                <p class="card-text">WordPress is the most popular Content Management System in the
                                    world. I know what your thinking. This isn't
                                    a popularity contest! But when it comes to building websites, it is vital because it
                                    gives you access to a large
                                    community that has done just about any site you can imagine in WordPress. Having
                                    that level of support and security is comforting to know. It's very productive for
                                    developers and easy to use for clients to manage their content and posts.</p>
                                <!--<div class="read-more"><a href="#"><i class="icofont-arrow-right"></i> Read More</a></div>-->
                            </div>
                        </div>
                    </div>
                    <div class="col-md-6 d-flex align-items-stretch">
                        <div class="card">
                            <!--<div class="card-img">-->
                            <!--    <i class="fas fa-dollar-sign"></i>-->
                            <!--</div>-->
                            <div>
                                <h5 class="card-title"><a href="">Lower Maintenance Cost</a></h5>
                                <p class="card-text">WordPress requires less setup and maintenance compared to other
                                    open-source CMS's such as Drupal or Joomla. It's also great
                                    for teams and future development. A large majority of issues can be resolved just by
                                    going through the admin interface, and you can see
                                    your changes as you are editing them. Since WordPress has such a large community,
                                    bringing on other people to maintain your website will be
                                    simpler.</p>
                                <!--<div class="read-more"><a href="#"><i class="icofont-arrow-right"></i> Read More</a></div>-->
                            </div>
                        </div>
                    </div>
                </div>

            </div>
        </section><!-- End Services Section -->

    </div>
</section>
