<!DOCTYPE html>
<html lang="en">

{% include head-blog-archive.html %}

<body>
<!-- Google Tag Manager (noscript) -->
<noscript><iframe src="https://www.googletagmanager.com/ns.html?id=GTM-58GGZHM"
                  height="0" width="0" style="display:none;visibility:hidden"></iframe></noscript>
<!-- End Google Tag Manager (noscript) -->

<!-- ======= Header ======= -->
<header class="header">
    <div class="container d-flex align-items-center">
        <div class="logo mr-auto">
            <div class="text-light"><a href="/"><span style="color:white;">Lorenzana Web Design</span><span>.</span></a></div>
            <!-- Uncomment below if you prefer to use an image logo -->
            <!-- <a href="index.html"><img src="assets/img/logo.png" alt="" class="img-fluid"></a>-->
        </div>
        {% include navbar.html %}
    </div>
</header><!-- End Header -->

<!-- ======= Hero Section ======= -->


<main id="main">

    <div class="page-content">
        <div class="wrapper">
            {{ content }}
        </div>
    </div>

</main><!-- End #main -->

{% include footer.html %}

</body>

</html>
