<!DOCTYPE html>
<html lang="en">

{% include head.html %}

<body>
<!-- Google Tag Manager (noscript) -->
<noscript><iframe src="https://www.googletagmanager.com/ns.html?id=GTM-58GGZHM"
                  height="0" width="0" style="display:none;visibility:hidden"></iframe></noscript>
<!-- End Google Tag Manager (noscript) -->

<!-- semrush siteaudit widget -->
<div class="modal hide fade" id="sem-dialog">
    <div class="modal-dialog modal-dialog-centered">
        <div class="modal-content" style="width:auto;">
            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true"><i class="fas fa-times"></i></span>
                </button>
            </div>
            <div>
                <div id="ssa-widget"></div>
                <script type="text/javascript">
                    (function() {
                        var p = "https://www.semrush.com/leadgen/static/js/widget.min.js";
                        var d = document, s = d.createElement("script");
                        s.src = p + "?v=" + Math.random();
                        (d.head || d.body).appendChild(s);
                        s.onload = function() {
                            new SEMRUSH.SiteauditWidget({
                                widgetApiKey: "5f5fc6fbf85646717d9b37f2"
                            });
                        }
                    })();
                </script>
            </div>
        </div>
    </div>
</div>
<!-- /semrush siteaudit widget -->

<!-- ======= Header ======= -->
<header class="header">
    <div class="container d-flex align-items-center">
        <div class="logo mr-auto">
            <div class="text-light"><a href="/"><span style="color:white;">Lorenzana Web Design</span><span>.</span></a></div>
            <!-- Uncomment below if you prefer to use an image logo -->
            <!-- <a href="index.html"><img src="assets/img/logo.png" alt="" class="img-fluid"></a>-->
        </div>
        {% include navbar.html %}
    </div>
</header><!-- End Header -->

<!-- ======= Hero Section ======= -->
<section id="hero">

    <div class="container">
        <div class="row d-flex align-items-center">
            <div class=" col-lg-6 py-5 py-lg-0 order-2 order-lg-1" data-aos="fade-right">
                <h1>Providing San Antonio WordPress Development Services, including web design, hosting, and SEO.</h1>
                <h2>We are a team of talented web and graphic designers using WordPress and custom solutions.</h2>
                <a href="#contact" class="btn-get-started scrollto">Contact Us</a>
            </div>
            <div class="col-lg-6 order-1 order-lg-2 hero-img" data-aos="fade-left">
                <img src="assets/img/hero-img.webp" class="img-fluid" alt="">
            </div>
        </div>
    </div>

</section><!-- End Hero -->

<main id="main">

    <!--    Clients, commented out for now -->
    {% comment %}
    {% include clients.html %}
    {% endcomment %}

    <!--    about-->
    {% include about.html %}

    <!--    services-->
    {% comment %}
    {% include services.html %}
    {% endcomment %}

    <!--    features-->
    {% include features.html %}

    <!--    portfolio-->
    {% include portfolio.html %}

    <!--    team-->
    {% include team.html %}

    <!--faq-->
    {% include faq.html %}

    <!--    testimonials-->
    {% include testimonials.html %}

    <!--    pricing-->
    {% comment %}
    {% include pricing.html %}
    {% endcomment %}

    <!--    contact form-->
    {% include contact.html %}

</main><!-- End #main -->

{% include footer.html %}

</body>

</html>
